<main class="m-5">
  <h1>後台</h1>
  {{>message}}
  <nav class="nav mt-5 mb-3">
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/leisurefits">貼文</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/categories">分類</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3 active" href="/admin/courses">課程</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/admin/trainees">學員</a>
  </nav>
  <hr>
  <nav class="nav mt-3 mb-3">
    <a role="button" class="btn btn-outline-info btn-sm nav-link mr-3 {{#if trainingdays}}active{{/if}}"
      href="/admin/courses/trainingdays">訓練日期</a>
    <a role="button" class="btn btn-outline-info btn-sm nav-link mr-3 {{#if exercises}}active{{/if}}"
      href="/admin/courses/exercises">動作</a>
    <a role="button" class="btn btn-outline-info btn-sm nav-link mr-3 {{#if equipments}}active{{/if}}"
      href="/admin/courses/equipments">器材</a>
    <a role="button" class="btn btn-outline-info btn-sm nav-link {{#if trainings}}active{{/if}}"
      href="/admin/courses/workouts">訓練菜單</a>
  </nav>
  <hr>

  {{!-- 課程日 --}}
  {{#if trainingdays}}
  {{#if trainingday.id}}
  <form action="/admin/courses/trainingdays/{{trainingday.id}}?_method=PUT" method="POST"
    class="d-flex align-items-center">
    {{else}}
    <form action="/admin/courses/trainingdays" method="POST" class="d-flex align-items-center">
      {{/if}}
      <div class="form-inline d-flex align-items-center">
        訓練日期：<input type="date" name="date" class="ml-2 mr-2 rounded form-control" required="required"
          value={{trainingday.date}}>
        <label for="categoryId">訓練分類：</label>
        <select name="categoryId" id="categoryId" class="ml-2 mr-2 form-control" required="required">
          <option>選擇：</option>
          {{#each categories}}
          <option value={{this.id}} {{#ifSelected this.id ../trainingday.CategoryId}}selected{{/ifSelected}}>
            {{this.name}}</option>
          {{/each}}
        </select>
        時數：<input type="text" name="duration" style="width:80px;" class="ml-2 rounded form-control" required="required"
          value={{trainingday.duration}}>
      </div>
      {{#if trainingday.id}}
      <button type="submit" class="btn btn-sm ml-2" style="color: #dc6548">編輯</button>
      <a href="/admin/courses/trainingdays" role="button" aria-disabled="true" class="btn btn-sm btn-light ml-2"
        style="color: #dc6548">取消編輯</a>
      {{else}}
      <button type="submit" class="btn btn-sm ml-2" style="color: #dc6548">新增</button>{{/if}}
    </form>
    <br />
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">訓練日期</th>
          <th scope="col">課程分類</th>
          <th scope="col">時數</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each trainingdays}}
        <tr>
          <td style="vertical-align: middle;">{{this.date}}</td>
          <td style="vertical-align: middle;">{{this.Category.name}}</td>
          <td style="vertical-align: middle;">{{this.duration}}</td>
          <td style="vertical-align: middle;">
            <button type="button" class="btn btn-sm btn-light mr-3">
              <a style="color: #c9461e; text-decoration: none;" href="/admin/courses/trainingdays/{{this.id}}">Edit</a>
            </button>
            <form action="/admin/courses/trainingdays/{{this.id}}?_method=DELETE" method="POST"
              style="display: inline;">
              <button style="color: #31583f" type="submit" class="btn btn-sm btn-light mr-3">Delete</button>
            </form>
            {{#ifSelected this.enroll 1}}
            <button type="button" class="btn btn-sm btn-light">
              <a style="color: #c9461e; text-decoration: none;"
                href="/admin/courses/trainingdays/enroll/{{../this.id}}">開放報名中
              </a>
            </button>
            {{else}}
            <button type="button" class="btn btn-sm btn-dark">
              <a style="color: white; text-decoration: none;"
                href="/admin/courses/trainingdays/enroll/{{../this.id}}">已截止報名
              </a>
            </button>
            {{/ifSelected}}
          </td>
        </tr>
        {{/each}}
      </tbody>
      {{/if}}
    </table>

    {{!-- 動作項目 --}}
    {{#if exercises}}
    {{#if exercise.id}}
    <form action="/admin/courses/exercises/{{exercise.id}}?_method=PUT" method="POST" class="d-flex align-items-center">
      {{else}}
      <form action="/admin/courses/exercises" method="POST" class="d-flex align-items-center">
        {{/if}}
        <div class="form-inline d-flex align-items-center">
          動作:<input type="text" name="move" class="ml-2 mr-4 rounded form-control" required="required"
            value={{exercise.move}}>
          描述: <input type="text" name="description" class="ml-2 rounded form-control" value={{exercise.description}}>
        </div>
        {{#if exercise.id}}
        <button type="submit" class="btn btn-sm ml-2" style="color: #dc6548">編輯</button>
        <a href="/admin/courses/exercises" role="button" aria-disabled="true" class="btn btn-sm btn-light ml-2"
          style="color: #dc6548; text-decoration: none;">取消編輯</a>
        {{else}}
        <button type="submit" class="btn btn-sm ml-2" style="color: #dc6548">新增</button>{{/if}}
      </form>
      <br>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">動作項目</th>
            <th scope="col">描述</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each exercises}}
          <tr>
            <td style="vertical-align: middle;">{{this.move}}</td>
            <td style="vertical-align: middle;">{{this.description}}</td>
            <td style="vertical-align: middle;">
              <button type="button" class="btn btn-light mr-3">
                <a style="color: #c9461e; text-decoration: none;" href="/admin/courses/exercises/{{this.id}}">Edit</a>
              </button>
              <form action="/admin/courses/exercises/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                <button style="color: #31583f" type="submit" class="btn btn-light">Delete</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
        {{/if}}
      </table>

      {{!-- 器材項目 --}}
      {{#if equipments}}
      {{#if equipment.id}}
      <form action="/admin/courses/equipments/{{equipment.id}}?_method=PUT" method="POST"
        class="d-flex align-items-center">
        {{else}}
        <form action="/admin/courses/equipments" method="POST" class="d-flex align-items-center">
          {{/if}}
          <div class="form-inline d-flex align-items-center">
            器材:<input type="text" name="item" class="ml-2 mr-4 rounded form-control" required="required"
              value={{equipment.item}}>
            描述: <input type="text" name="description" class="ml-2 rounded form-control" value={{equipment.description}}>
          </div>
          {{#if equipment.id}}
          <button type="submit" class="btn btn-sm ml-2" style="color: #dc6548">編輯</button>
          <a href="/admin/courses/equipments" role="button" aria-disabled="true" class="btn btn-sm btn-light ml-2"
            style="color: #dc6548; text-decoration: none;">取消編輯</a>
          {{else}}
          <button type="submit" class="btn btn-sm ml-2" style="color: #dc6548">新增</button>{{/if}}
        </form>
        <br>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">器材項目</th>
              <th scope="col">描述</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each equipments}}
            <tr>
              <td style="vertical-align: middle;">{{this.item}}</td>
              <td style="vertical-align: middle;">{{this.description}}</td>
              <td style="vertical-align: middle;">
                <button type="button" class="btn btn-light mr-3">
                  <a style="color: #c9461e; text-decoration: none;"
                    href="/admin/courses/equipments/{{this.id}}">Edit</a>
                </button>
                <form action="/admin/courses/equipments/{{this.id}}?_method=DELETE" method="POST"
                  style="display: inline;">
                  <button style="color: #31583f" type="submit" class="btn btn-light">Delete</button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
          {{/if}}
        </table>

        {{!-- 訓練日的菜單 --}}
        {{#if trainings}}
        <a class="btn btn-light mx-3 btn-sm" href="/admin/courses/workouts/create"
          style="color: #dc6548; text-decoration: none;">
          New Workout</a>
        <br>
        <br>
        {{#each trainings}}
        <table class="table table-hover">
          <strong class="ml-2">訓練日：{{this.date}}</strong>
          <thead class="thead-light">
            <tr>
              <th scope="col" width="20%">動作</th>
              <th scope="col" width="20%">器材</th>
              <th scope="col" width="20%">次數/組</th>
              <th scope="col" width="15%">組數</th>
              <th scope="col" width="25%"></th>
            </tr>
          </thead>
          <tbody>
            {{#each this.workout}}
            <tr>
              <td style="vertical-align: middle;">{{#if this.exercise}}{{this.exercise}}{{else}}-{{/if}}</td>
              <td style="vertical-align: middle;">{{#if this.equipment}}{{this.equipment}}{{else}}-{{/if}}</td>
              <td style="vertical-align: middle;">{{this.repetitions}}</td>
              <td style="vertical-align: middle;">{{this.sets}}</td>
              <td style="vertical-align: middle;">
                <button type="button" class="btn btn-light mr-3">
                  <a style="color: #c9461e; text-decoration: none;" href="/admin/courses/workouts/{{this.id}}">Edit</a>
                </button>
                <form action="/admin/courses/workouts/{{this.id}}?_method=DELETE" method="POST"
                  style="display: inline;">
                  <button style="color: #31583f" type="submit" class="btn btn-light">Delete</button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{/each}}
        {{/if}}
</main>