<main class="m-5">
  <h1>後台</h1>
  {{>message}}
  <nav class="nav mt-5 mb-3">
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3 active" href="/admin/leisurefits">貼文</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/categories">分類</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/courses">課程</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/admin/trainees">學員</a>
  </nav>
  <hr>
  <a class="btn btn-light mx-3 btn-sm" href="/admin/leisurefits/create" style="color: #dc6548">New Post</a>

  <br />
  <br />
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">貼文</th>
        <th scope="col">分類</th>
        <th scope="col" class="text-center">貼文日期</th>
        <th class="text-center"><i class="fas fa-heart text-danger"></i></th>
        <th scope="col" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      {{#each leisurefits}}
      <tr>
        <td style="vertical-align: middle;">{{this.name}}</td>
        <td style="vertical-align: middle;">{{this.Category.name}}</td>
        <td style="vertical-align: middle;" class="text-center">{{this.createdAt}}</td>
        <td style="vertical-align: middle;" class="text-center">{{this.likes}}</td>
        <td style="vertical-align: middle;" class="text-center">
          <button type="button" class="btn btn-light mr-3">
            <a style="color: #c9461e; text-decoration: none;" href="/admin/leisurefits/{{this.id}}">More</a>
          </button>
          <button type="button" class="btn btn-light mr-3">
            <a style="color: #c9461e; text-decoration: none;" href="/admin/leisurefits/{{this.id}}/edit">Edit</a>
          </button>
          <form action="/admin/leisurefits/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button style="color: #31583f" type="submit" class="btn btn-light">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</main>