<main class="m-5">
  <h1>後台</h1>
  {{>message}}
  <nav class="nav mt-5 mb-3">
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3 active"
      href="/admin/leisurefits">Leisurefits</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/categories">Training
      Categories</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/courses">Training Courses</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/admin/trainee">Trainee</a>
  </nav>
  <hr>
  <a class="btn btn-light mx-3 btn-sm" href="/admin/leisurefits/create" style="color: #dc6548">New Post</a>

  <br />
  <br />
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Training Category</th>
        <th scope="col">Posted On</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each leisurefits}} <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.Category.name}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a style="color: #31583f" href="/admin/leisurefits/{{this.id}}">More</a>
          </button>
          <button type="button" class="btn btn-link">
            <a style="color: #31583f" href="/admin/leisurefits/{{this.id}}/edit">Edit</a>
          </button>
          <form action="/admin/leisurefits/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button style="color: #31583f" type="submit" class="btn btn-link">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</main>