{{!-- <div class="jumbotron"
  style="background-image: url({{cover}}); background-position: 50% 75%; background-repeat:no-repeat; background-size:cover;">
  <h5 class="display-4 text-white">大人的體育課</h5>
  <p class="lead text-white">一起在都市的束縛中，大力呼吸，解放心靈，奔放四肢</p>
  <hr class="my-4 bg-white">
  <p class="lead">
    <a class="btn  btn-white btn-md text-white" href="/leisurefits" role="button"
      style="background-color: #de6548;">Ｍore...</a>
  </p>
</div> --}}

<main>
  <nav class="d-flex justify-content-center mt-5">
    {{#ifCond user.isAdmin isAuthenticated}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/leisurefits">後台</a>
    {{/ifCond}}
    {{#ifOne user.isAdmin isAuthenticated}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/user/profile">My Profile</a>
    {{/ifOne}}
    <div class="dropdown show">
      <a class="btn btn-outline-secondary btn-sm nav-link dropdown-toggle mr-3" href="?categoryId=all" role="button"
        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#if categoryName}}{{categoryName}}{{else}}課程{{/if}}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="?categoryId=all">全部</a>
        {{#each categories}}
        <a class="dropdown-item" href="?categoryId={{this.id}}">{{this.name}}</a>
        {{/each}}
      </div>
    </div>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/calendar">課程表</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/location">上課地點</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/contactUs">聯絡我們</a>
  </nav>
  <div class="container mt-5">
    <div class="row ">
      {{#each leisurefits}}
      <div class="col-sm-12 col-md-6 col-lg-4" height="400">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" width="300px" height="200px">
          <div class="card-body">
            <h5 class="card-text">{{this.name}}</h5>
            <lead class="d-flex mb-1"><a href="?categoryId={{this.CategoryId}}" style="color: #c9461e;">
                #{{this.Category.name}}
              </a></lead>
            <p class="card-text">{{this.description}}</p>
            <div class="d-flex justify-content-around align-items-center">
              <a role="button" class="btn read-more-button" href="/leisurefits/{{this.id}}">閱讀更多</a>
              {{#ifCond this.isLiked ../isAuthenticated}}
              <form action="/user/like/{{../this.id}}?_method=DELETE" method="POST" class="d-flex align-items-center">
                <button class="btn bg-white"><i class="fas fa-heart text-danger"></i></button>
              </form>
              {{else}}
              <form action="/user/like/{{../this.id}}" method="POST" class="d-flex align-items-center">
                <button class="btn bg-white"><i class="far fa-heart text-danger"></i></button>
              </form>
              {{/ifCond}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <br />
    {{!-- Pagination --}}
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#ifSelected currentPage 1}}{{else}}
          <li class="page-item">
            <a class="page-link" style="color: #31583f"
              href="/leisurefits?page={{../prev}}&categoryId={{../categoryId}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {{/ifSelected}}
          {{#each totalPage}}
          {{#ifSelected this ../currentPage}}
          <li class="page-item"><a class="page-link" style="color: #31583f" href="#">{{../this}}</a></li>
          {{else}}
          <li class="page-item"><a class="page-link" style="color: #31583f"
              href="/leisurefits?page={{../this}}&categoryId={{../../categoryId}}">{{../this}}</a></li>
          {{/ifSelected}}
          {{/each}}
          {{#ifSelected currentPage maxPage}}{{else}}
          <li class="page-item">
            <a class="page-link" style="color: #31583f"
              href="/leisurefits?page={{../next}}&categoryId={{../categoryId}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {{/ifSelected}}
        </ul>
      </nav>
    </div>
    <hr>
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy 2021, Leisure-Fit</p>
        </div>
      </div>
    </footer>
  </div>
</main>