<main class="m-5">
  <h1>Profile</h1>
  <nav class="nav mt-5">
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/user/profile">My
      Profile</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3 active" href="/user/likedLeisurefits">My
      Collection</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/user/training">My Training</a>
  </nav>
  <br />
  <br />

  <div class="container">
    <div class="row">
      {{#each likes}}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{{this.Leisurefit.image}}" alt="Card image cap" width="286px" height="180px">
          <div class="card-body">
            <h5 class="card-text">{{this.Leisurefit.name}}</h5>
            <lead class="d-flex mb-1"><a href="?categoryId={{this.Leisurefit.CategoryId}}">
                #{{this.Leisurefit.Category.name}}
              </a></lead>
            <p class="card-text">{{this.Leisurefit.description}}</p>
            <div class="d-flex justify-content-around align-items-center">
              <a role="button" class="btn btn-info" href="/leisurefits/{{this.LeisurefitId}}">閱讀更多</a>
              <form action="/user/likedLeisurefits/{{this.LeisurefitId}}?_method=DELETE" method="POST"
                class="d-flex align-items-center">
                <button class="btn bg-white"><i class="fas fa-heart text-danger"></i></button>
              </form>

            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <br />
    <hr />
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy 2021, Leisure Fit</p>
        </div>
      </div>
    </footer>
  </div>
</main>