<main class="row mt-5 ml-5 d-flex justify-content-center">
  {{!-- <div class="col-md-12 d-flex justify-content-center">
    <h1>{{record.workout}}</h1>
  </div> --}}
  <div class="col-md-8">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>訓練日期：{{record.date}}</strong></li><br>
        <li>分類：{{record.category}}</li><br>
        <li>時數：{{record.duration}}</li><br>
        <li>動作：{{record.exercise}} {{#if record.exerciseDescription }}（{{record.exerciseDescription}}）{{/if}}</li><br>
        <li>器材：{{record.equipment}}{{#if record.equipmentDescription }}（{{record.equipmentDescription}}）{{else}}無{{/if}}
        </li><br>
        <li>次數：{{record.repetitions}} /組</li><br>
        <li>組數：共 {{record.sets}} 組</li><br>
        <li>Note: {{record.note}}</li><br>
        <li class="d-flex justify-content-center"><img src="{{record.image}}"></li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center my-5">
    <a href="javascript:history.back()" style="color: #31583f">回上一頁</a>
  </div>
</main>