<main class="m-5">
  <h1>Profile</h1>
  <nav class="nav mt-5">
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/user/profile">My
      Profile</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/user/likedLeisurefits">貼文收藏</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link active" href="/user/training">課程</a>
  </nav>

  <div class="my-3" style="width:300px;">
    {{>message}}
  </div>


  <div class="my-3">
    {{#each enrollList}}
    <div class="my-2 d-flex">
      <p class="lead d-flex justify-content-center my-auto"
        style="font-size:15px; background-color:rgb(220, 101, 72, 0.8); width: 230px; color: white; border-radius: 30px;">
        已成功報名{{this.date}} 課程</p>
      <form action="/user/training/enroll/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
        <button style="color: #dc6548" type="submit" class="btn btn-sm btn-light ml-2">取消報名</button>
      </form>
    </div>
    {{/each}}

    {{#each waitingList}}
    <div class="my-2 d-flex">
      <p class="lead d-flex justify-content-center my-auto"
        style="font-size:15px; background-color:rgb(27, 65, 40, 0.6); width:230px; color: white; border-radius: 30px;">
        目前備取 {{this.date}} 課程</p>
      <form action="/user/training/waiting/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
        <button style="color: #31583f" type="submit"
          class="btn btn-sm btn-light ml-2 d-flex justify-content-center">取消報名</button>
      </form>
    </div>
    {{/each}}

    {{#each waitToEnroll}}
    <form action="/user/training/enroll/{{this.id}}" method="POST" style="display: inline;">
      <button style="font-size:15px; color: #31583f;" type="submit"
        class="btn btn-sm btn-warning my-2 d-flex justify-content-center">報名
        {{this.date}} 課程</button>
    </form>
    {{/each}}
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">訓練日期</th>
        <th scope="col">分類</th>
        <th scope="col">時數</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each records}}
      <tr>
        <td style="vertical-align: middle;">{{this.date}}</td>
        <td style="vertical-align: middle;">{{this.category}}</td>
        <td style="vertical-align: middle;">{{this.duration}}</td>
        <td style="vertical-align: middle;">
          <button type="button" class="btn btn-link">
            <a style="color: #31583f" href="/user/training/records/{{this.id}}">More</a>
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</main>