<main class="row mt-5 ml-5 d-flex justify-content-center">
  <div class="col-md-12 d-flex justify-content-center">
    <h1>{{record.workout}}</h1>
  </div>
  <div class="col-md-8">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Training Day: {{record.date}}</strong></li><br>
        <li>次數：{{record.times}}</li><br>
        <li><a href="?categoryId={{record.CategoryId}}" style="color: #c9461e;">#{{record.Category.name}}</a></li><br>
        <li>Note: {{record.note}}</li><br>
        <li class="d-flex justify-content-center"><img src="{{record.image}}"></li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center my-5">
    <a href="javascript:history.back()" style="color: #31583f">回上一頁</a>
  </div>
</main>