<main class="row mt-5 ml-5 d-flex justify-content-center">
  <div class="col-md-12">
    <h1 class=" d-flex justify-content-center">{{date}}</h1>
    <h5 class="mt-4 d-flex justify-content-center">時間：{{time}}</h5>
    <h5 class=" d-flex justify-content-center">類別：{{category}}</h5>

  </div>
  <div class="col-md-8">
    <br>
    <div class="well">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" width="20%">動作</th>
            <th scope="col" width="20%">器材</th>
            <th scope="col" width="20%">次數/組</th>
            <th scope="col" width="15%">組數</th>
          </tr>
        </thead>
        <tbody>
          {{#each training}}
          <tr>
            <td>{{#if this.exercise}}{{this.exercise}}{{else}}-{{/if}}
              {{#if this.exerciseDescription}}（{{this.exerciseDescription}}）{{else}}{{/if}}</td>
            <td>{{#if this.equipment}}{{this.equipment}}{{else}}-{{/if}}
              {{#if this.equipmentDescription}}（{{this.equipmentDescription}}）{{else}}{{/if}}</td>
            <td>{{this.repetitions}}</td>
            <td>{{this.sets}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center my-5">
    <a href="javascript:history.back()" style="color: #31583f">回上一頁</a>
  </div>
</main>